.textInputWrapper {
    display: flex;
    flex-direction: column;
    width: inherit;
    align-items: center;
  }
  
  .textInputWrapper input {
    border: 1px solid gray;
    padding: 18px 30px;
    margin: 15px;
    /* outline: none; */
    width: 50%;
    border-radius: 10px;
    font-size: 20px;
  }
  
  .errorMessage {
    color: #de1b55;
    text-align: left;
    width: 30%;
  }
  @media (max-width:1220px) {
    .textInputWrapper input{
      width: 100%;
    }
  }
  @media (max-width:768px) {
    .textInputWrapper input{
      width: 100%;
    }
  }
  @media (max-width:480px) {
    .textInputWrapper input{
      width: 100%;
    }
  }
  